@font-face {
    font-family: 'Pixeled';
    src: url('Pixeled.woff2') format('woff2'),
        url('Pixeled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,html{
	width: 480px;
	height: 320px;
	margin: 0px;
	padding: 0px;
	background: #000000;
	color: #00FF00;
	font-family: 'Pixeled';
    font-weight: normal;
    font-style: normal;
	font-size: 12px;
	overflow: hidden;
}


#container{
	width: 480px;
	height: 320px;
	position: relative;
	padding: 0px;
	margin: 0px;
	z-index: 100;
	overflow: hidden;
}


.scene{
	width: 480px;
	height: 320px;
	position: relative;
	padding: 0px;
	margin: 0px;
	z-index: 100;
	overflow: hidden;	
}


#scene1,#scene2,#scene3{
	display: none;
	position: absolute;
	top:0px;
	left:0px;
}

#IAQOSgrande{
	font-family: 'Pixeled';
    font-weight: normal;
    font-style: normal;
	font-size: 70px;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 40px;
	color: #00FF00;
}


#IAQOSSaysSomething{
	padding: 20px;
	font: 25px monospace;
}

.IAQOSOverlay{
	position: absolute;
	text-align: center;
	color: #FFFFFF;
	background: transparent;
	font-family: 'Pixeled';
    font-weight: normal;
    font-style: normal;
	font-size: 40px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	top: 40px;
	left: 0px;
	z-index: 900;
}
.IAQOSOverlaysmall{
	position: absolute;
	text-align: center;
	color: #FFFFFF;
	background: transparent;
	font-family: 'Helvetica';
    font-weight: normal;
    font-style: normal;
	font-size: 16px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	bottom: 20px;
	left: 0px;
	z-index: 900;
}


